// ** Centre Block ** //
@mixin flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Max Width
@mixin max-width {
    max-width: 56.25rem;
    margin: 0 auto;
}

// ** Responsive Media Queries ** //
@mixin mq($width){
    @media(min-width: ($width)){
        @content;
    }
}

// @include mq($tablet){ }